
{{#if user}}
<div class="container mt-4 full-width-container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success d-flex justify-content-between align-items-center" role="alert">
                <div>
                    <span>Welcome!, you're logged as {{user.first_name}} ({{user.email}})</span>
                    {{#if user.isAdmin}}
                        <span class="ml-2">Role: Admin</span>
                    {{else}}
                        <span class="ml-2">Role: User</span>
                    {{/if}}
                </div>
                <div class="ml-auto">
                    <a href="/api/sessions/logout" class="btn btn-secondary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>




{{else}}
<div class="container mt-4 full-width-container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                No user logged
            </div>
        </div>
    </div>
</div>
{{/if}}

{{#if products.docs.length}}
<div class="container mt-4 full-width-container">
    <div class="row">
        {{#each products.docs}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{thumbnails}}" class="card-img-top" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">Code: {{code}}</p>
                    <p class="card-text">Price: ${{price}}</p>
                    <p class="card-text">Availability: {{#if status}}Yes{{else}}No{{/if}}</p>
                    <p class="card-text">Stock: {{stock}}</p>
                    <p class="card-text">Category: {{category}}</p>
                    <a href="/product/{{_id}}" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="alert alert-warning" role="alert">
    There are not products to show
</div>
{{/if}}